body {
    background: rgb(235, 180, 2);
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.item {
    background-color: rgb(167, 111, 7);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.button {
    background-color: lightgoldenrodyellow;
    border: 1px solid rgb(90, 60, 4);
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
}

#text {
    margin-top: 50px;
    margin-bottom: 30px;
}

#hiba
{
    height: 150px;
    width: 900px;
    background-color: red;
    display: flex;
    align-self: center;
    justify-self: center;
    visibility: hidden;
}