<header class="main-header"></header>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path == '/' ? 'active' : '' %>" href="/">Outgoings</a></li>
            <li class="main-header__item"><a class="<%= path == '/admin/add-outgoing' ? 'active' : '' %>" href="/admin/add-product">Add outgoing</a></li>
        </ul>
    </nav>
</header>