
<%- include('includes/head') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/outgoings.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="<%= path %>" method="POST">
            <div class="form-control">
                <label for="title">Kiadás neve</label>
                <input type="text" name="title" id="title">
                <label for="price">Összeg</label>
                <input type="text" name="price" id="price">
            </div>

            <button class="btn" type="submit">Kiadás módosítása</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>
