.outgoing-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.outgoing-item {
    width: 20rem;
    max-width: 95%;
}

.outgoing__title {
    font-size: 1.2rem;
    text-align: center;
}

.outgoing__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}
